<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:fragment="addWord">
    <div class="tab-content" id="v-pills-tabContent">

        <!--ВКЛАДКА Главная страница  -->
        <div class="tab-pane fade show active col-12" id="mainPage" role="tabpanel"
             aria-labelledby="mainPage-tab">

            <div class="inner-wrapper">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-sm-8 col-sm-offset-4">
                            <h2 class="text-center h4 mb-4">Введите слово, его перевод и предложение с этим словом</h2>
                            <form class="form-group clearfix">

                                <div class="form-group text-left font-weight-bold">
                                    <label>Слово</label>
                                    <input type="text" id="new_word" name="newWord" autofocus="autofocus"
                                           class="form-control" required>
                                </div>
                                <div class="form-group text-left font-weight-bold">
                                    <label>Перевод</label>
                                    <input type="text" id="word_translation" name="wordTranslation"
                                           class="form-control" required/>
                                </div>
                                <div class="form-group text-left font-weight-bold">
                                    <label>Предложение, содержащее данное слово</label>
                                    <input type="text" id="word_sentence" name="wordSentence"
                                           class="form-control" required/>
                                </div>

                                <div class="AddButton">
                                    <button class="btn btn-secondary" type="button" id="addButton" onclick="">
                                        добавить
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--ВКЛАДКА Главная пользователя  -->

    </div>
<!-- ОСНОВНАЯ  ПАНЕЛЬ  -->
</div>

</body>
</html>