<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

</head>

<body>

<div th:fragment="footer">
    <div class="container-fluid bg-dark fixed-bottom">
        <div class="container">
            <footer class="pt-4 pt-md-5">
                <div class="row">
                    <div class="col-6 col-md">
                        <h5 class="footer-title"><a href="#">DoomsDay</a></h5>
                        <ul>
                            <li><a href="#">Справка</a></li>
                            <li><a href="#">Связаться с нами</a></li>
                            <li><a href="#">Оставить отзыв</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-md">
                        <h5 class="footer-title"><a href="#">Компания</a></h5>
                        <ul>
                            <li><a href="#">Команда</a></li>
                            <li><a href="#">Рекламируйте с нами</a></li>
                            <li><a href="#">О компании</a></li>
                            <li><a href="#">Упоминания в СМИ</a></li>
                            <li><a href="#">Соглашение</a></li>
                        </ul>
                    </div>
                    <div class="col-12 col-md footer-social">
                        <ul class="social">
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Facebook</a></li>
                            <li><a href="#">Twitter</a></li>
                            <li><a href="#">LinkedIn</a></li>
                            <li><a href="#">Instagram</a></li>
                        </ul>
                        <p class="copyright">
                            дизайн сайта / логотип © 2020 VolevoiySmoke Inc;
                        </p>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>


</body>
</html>
