<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

</head>


<body>
<div th:fragment="header">
    <nav class="navbar navbar-expand-sm navbar-light bg-light text-white">
        <div class="collapse navbar-collapse " id=upNavBar>
            <a href="/" class="logo mr22">LOGO</a>
        </div>

        <input type="button" class="btn btn-primary" value="User Info"/>
        <input type="button" class="btn btn-primary ml-2" value="Sign out"/>
    </nav>
</div>

</body>
</html>
