<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:insert="~{fragment/header :: header}" class="fixed-top" ></div>
    <div class="container-fluid">
        <div class="row ">
            dfgsdg
            s
            df
            sd
            f
            sdf
            sde

        </div>
    </div>
    <div th:insert="~{fragment/footer :: footer}" ></div>
    <div th:insert="fragment/generalFragments :: styleheader"></div>
    <div th:insert="fragment/generalFragments :: scriptfooter"></div>

</body>
</html>