<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link  href="/static/CSS/header.css" rel="stylesheet" type="text/css">
    <title>DoomsDay</title>
</head>
<body>
    <div th:insert="~{fragment/header :: header}" class="fixed-top" ></div>
    <div class="container-fluid">
        <div class="row min-vh-100 ">

            <!-- БОКОВАЯ ПАНЕЛЬ -->
            <div class="col-md-2">
                <div th:insert="~{fragment/dictionaryNavigation :: dictionaryNavigation}"></div>
            </div>

            <!-- ОСНОВНАЯ  ПАНЕЛЬ  -->
            <div class="col-md-10" style="background: #edeef0">
                <div th:insert="~{fragment/addWord :: addWord}" class="tabcontent"  id="addWord" style="display: none"></div>
                <div th:insert="~{fragment/wordList :: wordList}" class="tabcontent" id="wordList" ></div>
            </div>
        </div>
    </div>
    <div th:insert="~{fragment/footer :: footer}" ></div>
    <div th:insert="fragment/generalFragments :: styleheader"></div>
    <div th:insert="fragment/generalFragments :: scriptfooter"></div>

</body>
</html>